@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "./map.css";

@theme inline {
  /* Font Variables */
  --font-sans: "Poppins", sans-serif;

  /* Colors */
  --color-torea-50: hsl(220 87% 97%); /* #EFF4FE */
  --color-torea-100: hsl(227 74% 94%); /* #E2EAFD */
  --color-torea-200: hsl(227 54% 90%); /* #CAD7FB */
  --color-torea-300: hsl(229, 83%, 83%); /* #abbdf6 */
  --color-torea-600: hsl(231 59% 58%); /* #5050DB */
  --color-torea-700: hsl(235 43% 50%); /* #4341C1 */
  --color-torea-800: hsl(235 47% 38%); /* #363698 */
  --color-torea-900: hsl(239, 41%, 34%); /* #33347c */
  --color-torea-950: hsl(240 38% 18%); /* #1E1E48 */

  --color-grenadier-400: hsl(15, 89%, 61%); /* #f37b44 */
  --color-grenadier-500: hsl(18 100% 53%); /* #F0581F */
  --color-grenadier-800: hsl(9 80% 41%); /* #BA2D14 */

  --color-zinc-500: hsl(240 5% 44%); /* #71717A */
  --color-lime-500: hsl(93 79% 44%); /* #83CC14 */
  --color-white: hsl(0 0% 100%); /* #FFFFFF */
}

@layer base {
  /* general  */

  body {
    @apply font-sans antialiased;
  }

  .page-outer-container {
    @apply flex flex-col gap-4 lg:flex-row lg:items-start lg:gap-6;
  }

  .page-outer-container--network-details {
    @apply flex flex-col lg:flex-row lg:items-start;
  }

  .page-content-container {
    @apply relative lg:basis-1/3 lg:max-w-1/3 w-full lg:h-[100vh];
  }

  .page-inner-content-container {
    @apply lg:overflow-y-scroll h-full lg:px-8;
  }

  .page-inner-content-container--network-details {
    @apply lg:overflow-y-scroll lg:h-[100vh];
  }

  .heading {
    @apply text-xl font-semibold leading-7 text-grenadier-500;
  }

  .subheading {
    @apply text-3xl font-semibold leading-10;
  }

  .paragraph {
    @apply text-sm leading-5;
  }

  /* pagination */
  .pagination-container {
    @apply flex justify-center items-center gap-2 my-6;
  }

  .pagination-navigation {
    @apply flex items-center gap-1 py-1 px-3 min-h-[41px] rounded-[6px] cursor-pointer text-sm font-semibold disabled:opacity-50 transition-colors duration-300 ease-in-out;
  }

  .pagination-button {
    @apply px-3 py-1 border rounded-[1px] min-w-[40px] min-h-[40px] cursor-pointer text-sm font-semibold text-torea-800 bg-torea-50 border-torea-100 hover:bg-torea-100 transition-colors duration-300 ease-in-out;
  }

  .pagination-dots {
    @apply px-2;
  }

  /* network  */
  .network-container {
    @apply p-4 bg-transparent border-b border-torea-100 hover:bg-torea-100 transition-colors duration-200 rounded-[2px];
  }

  .network-inner-container {
    @apply flex flex-col gap-2 lg:flex-row lg:items-end lg:justify-between;
  }

  .network-heading {
    @apply text-xl font-bold leading-7 text-torea-800;
  }

  .network-data {
    @apply flex items-center gap-2 mt-2 text-sm leading-7 font-normal;
  }

  .network-icon-container {
    @apply flex items-center justify-center p-1 bg-torea-50 text-grenadier-500 rounded;
  }

  .network-companies-display {
    @apply max-w-[60%] overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .network-count-container {
    @apply py-[4px] px-[6px] border border-grenadier-500 text-grenadier-500 flex items-center gap-2 whitespace-nowrap leading-4 rounded-[2px];
  }

  .network-inner-bottom {
    @apply flex relative;
  }

  .network-details-button {
    @apply flex items-center justify-end gap-2 rounded-[43px] bg-white text-grenadier-500 py-3 px-2 transition-all duration-500 absolute right-0 bottom-0 cursor-pointer;

    @apply lg:px-0;
  }

  .network-details-text {
    @apply text-sm font-normal block whitespace-nowrap transition-all duration-500 ease-in-out;

    @apply lg:max-w-0 lg:translate-x-full lg:opacity-0 lg:overflow-hidden;
  }

  .group:hover .network-details-button {
    @apply lg:px-4;
  }

  .group:hover .network-details-text {
    @apply lg:max-w-[100px] lg:translate-x-0 lg:opacity-100;
  }

  .near-me-button {
    @apply absolute top-4 left-4 z-10 bg-torea-800 text-white rounded-[43px] py-4 px-4 text-sm shadow-md flex items-center gap-2 font-bold cursor-pointer;
  }

  /* network details */

  .network-details-top-container {
    @apply relative bg-cover bg-center bg-no-repeat px-4 py-4 lg:px-6;
  }

  .network-details-data {
    @apply relative flex items-center gap-2 mt-2 text-white leading-7 font-normal z-10;
  }

  .network-details-bottom-container {
    @apply lg:px-6;
  }

  .network-details-count-container {
    @apply inline-flex items-center gap-2 py-[4px] px-[6px] border border-grenadier-500 text-grenadier-500 flex items-center gap-2 whitespace-nowrap leading-4 rounded-[2px] w-fit;
  }

  /* map marker  */

  .map-marker {
    @apply relative w-2 h-2;
  }

  .map-marker-ping {
    @apply absolute inset-0 rounded-full bg-grenadier-400 animate-ping opacity-75;
  }

  .map-marker-dot {
    @apply relative w-2 h-2 bg-grenadier-400 rounded-full;
  }
}
